/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Styles */
body {
  padding: 32px;
  font-family: sans-serif;
  background: hsl(40deg 50% 80%);
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  background: white;
  text-align: center;
}
h1 {
  margin-bottom: 1em;
}
